@font-face {
    font-family: "impact", "georgia";
    src: url("fonts/impact.ttf") format("ttf");
    src: url("fonts/georgia.ttf") format("ttf");
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    /* font-size: 1.2rem; */
    font-size: 16px;
}

.home-banner {
    width: 100%;
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.home-title {
    color: rgb(256, 256, 256);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/* right, bottom */
    letter-spacing: 0.3em;    
}

/* #nameInput {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} */


  @media only screen and (max-width: 1357px) {

    #home-title{
        /* font-size : clamp(.5rem, 6vw, 3rem); */
        font-size : 5vw;
        margin-bottom: -20px;
        letter-spacing: 0.1em; 
      }
    
      #home-sub{
        /* font-size : clamp(1rem, 2vw, 2rem); */
        font-size : 4vw;
        letter-spacing: 0.1em;
      }
 
 }

